<form class="well" (submit)="addTodo($event)">
      <div class="form-group">
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Task...">    
      </div>  
</form>

<div class="task-list" *ngFor="let todo of todos">
    <div class="col-md-1">
        <input type="checkbox" (click)="updateStatus(todo)">
    </div>
    <div class="col-md-7">
        {{todo.title}}
    </div>
    <div class="col-md-4">
        <input type="button" value="delete" (click)="todoDelete(todo._id)" class="btn btn-danger">
    </div>
    <br>
    <br>    
</div>